@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oswald:wght@200;400;600&family=Poppins:wght@300;400&family=Roboto&family=Rubik+Iso&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
h3{
  margin-top: 200px;
  text-align: center;
}
.Table{
  margin: 100px;
}
  
